<form action="/edit/changePassword" method="POST">
    <label for="oldPassword"><b>Contrase単a Anterior</b></label>
    <input type="text" name="oldPassword" id="oldPassword" required placeholder="Ingrese contrase単a anterior">

    <label for="newPassword"><b>Nueva Contrase単a</b></label>
    <input type="text" name="newPassword" id="newPassword" required placeholder="Ingrese nueva contrase単a">
    <button class="btn">
        Editar Cuenta
    </button>
</form>