<form action="/edit/changePassword" method="POST"> 
            <label for="password"><b>Nueva Contraseña</b></label>
            <input type="text" name="password" id="password" required placeholder="Ingrese contraseña">
        <button>
            Editar Cuenta
        </button>
     </form>