{{!-- 
{{#each pathsNew as |l|}}
     
     <img src="{{l}}" alt=""> <br> 
{{/each}} --}}


     <p> {{#each pathsNew as |archivo|}}
         Nombre del archivo: {{archivo.nombre}} <br>
          {{/each}}
    </p>