
   
    
    
    <form action="/upload" method="POST" enctype="multipart/form-data"> 
        <input type="file" name="fileToUpload"> 
        <button>
            Firmar documento
        </button>
     </form>


    
    <form action="/verify" method="POST" enctype="multipart/form-data"> 
        <input type="file" name="fileToVerify"> 
        <button>
            Verificar firma de documento
        </button>
     </form>


     {{>botonMostrarArchivos}}
    {{> archivosDescargados}}

    {{>archivoVerificar}}

   
