<style>
    body,
    html {
        height: 100%;
    }

    * {
        box-sizing: border-box;
    }

    /* Add styles to the form container */
    .container {
        position: absolute;
        right: 50%;
        left: 40%;
        margin: 40px;
        margin-left: auto;
        margin-right: auto;
        max-width: 500px;
        padding: 16px;
        background-color: white;
    }

    .header {
        position: absolute;
        right: 90%;
        left: 0%;
        margin: 20px;
        max-width: 300px;
        padding: 16px;
        background-color: white;
    }

    /* Full-width input fields */
    input[type=text],
    input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
    }

    /* Set a style for the submit button */
    .btn {
        background-color: #062754;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
    }
   
</style>

   
    {{> header}}
    <br><br>

    <div class="container">
        <h1>Página Principal</h1>
        <br>
        <h2>Firma de Documentos</h2>
        <br>
        <form action="/firmaDocumentos/upload" method="POST" enctype="multipart/form-data"> 
        <input type="file" name="fileToUpload"> 
        <button class="btn">
            Firmar documento
        </button>
     </form>

    <br><br>
    
    <form action="/firmaDocumentos/verify" method="POST" enctype="multipart/form-data"> 
        <input type="file" name="fileToVerify"> 
        <button class="btn">
            Verificar firma de documento
        </button>
     </form>

    <br><br>
    <form action="/encryptDecrypt/encrypt" method="POST" enctype="multipart/form-data"> 
        <input type="file" name="fileToEncrypt"> 
        <button class="btn">
            Encriptar documento
        </button>
     </form>

    <br><br>
    
    <form action="/encryptDecrypt/decrypt" method="POST" enctype="multipart/form-data"> 
        <input type="file" name="fileToDecrypt"> 
        <button class="btn">
            Desencriptar documento
        </button>
     </form>




    {{>mostrarArchivoVerificar}}

     <br><br>

     {{>botonMostrarArchivos}}
    {{> mostrarArchivosDescargados}}
    
    <br><br>
    <h2>Editar Cuenta</h2>
    {{> botonEdicionCuenta}}

    <br><br>
    <h2>Registro de Usuarios</h2>
    <br>
    {{> botonMostrarRegistros}}
    
    <div class="table">
        {{> tablaRegistroUsuarios}}
    </div>
    
    </div>
    
   

     

   
