
   
    {{> header}}
    <br><br>
    <form action="/firmaDocumentos/upload" method="POST" enctype="multipart/form-data"> 
        <input type="file" name="fileToUpload"> 
        <button>
            Firmar documento
        </button>
     </form>

    <br><br>
    
    <form action="/firmaDocumentos/verify" method="POST" enctype="multipart/form-data"> 
        <input type="file" name="fileToVerify"> 
        <button>
            Verificar firma de documento
        </button>
     </form>

    {{>mostrarArchivoVerificar}}
    <br><br>

     {{>botonMostrarArchivos}}
    {{> mostrarArchivosDescargados}}
    
    <br><br>
    {{> botonEdicionCuenta}}

    <br><br>
    {{> botonMostrarRegistros}}
    {{> tablaRegistroUsuarios}}

     

   
