<form action="/registro/nuevoUsuario" method="POST"> 
            <label for="password"><b>Correo</b></label>
            <input type="text" name="correo" id="correo" required placeholder="Ingrese correo">

            <label for="password"><b>Contraseña</b></label>
            <input type="text" name="password" id="password" required placeholder="Ingrese contraseña">
        <button>
            Registrar Usuario
        </button>
     </form>