<style>
    body,
    html {
        height: 100%;
    }

    * {
        box-sizing: border-box;
    }

    /* Add styles to the form container */
    .container {
        position: absolute;
        right: 50%;
        left: 40%;
        margin: 20px;
        max-width: 300px;
        padding: 16px;
        background-color: white;
    }

    .header {
        position: absolute;
        right: 90%;
        left: 0%;
        margin: 20px;
        max-width: 300px;
        padding: 16px;
        background-color: white;
    }

    /* Full-width input fields */
    input[type=text],
    input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
    }

    /* Set a style for the submit button */
    .btn {
        background-color: #062754;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
    }
</style>


{{> header}}
<br><br>
<div class="container">
    <h1>Autenticación Multifactor</h1>
    {{!-- {{#each qrcode as |imagenQR|}}
    <img src="{{imagenQR.url}}" alt="">
    {{/each}} --}}

    <form action="/2fa/" method="POST">
        <label for="codigo"><b>Codigo doble factor</b></label>
        <input type="text" name="token" id="token" required placeholder="Ingrese token">
        <button class="btn">
            Ingresar
        </button>
    </form>
</div>